# ==============================
# Maven
# ==============================
target/
!.mvn/wrapper/maven-wrapper.jar

# ==============================
# Logs
# ==============================
*.log
logs/

# ==============================
# Spring Boot
# ==============================
application-local.properties
application-secrets.properties

# ==============================
# Environment files
# ==============================
.env
.env.*

# ==============================
# IDE Files
# ==============================

## STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## IntelliJ
.idea/
*.iws
*.iml
*.ipr

## VS Code
.vscode/

## NetBeans
/nbproject/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db
